name: Changelog Generator

on:
  push:
    branches: [ changelog-generator ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Generate changelog content
      uses: heinrichreimer/action-github-changelog-generator@v2.1.1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Check that everything worked
      run: |
        git status
        
    - name: Commit changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "Update Changelog" -a

    - name: Push
      uses: ad-m/github-push-action@v0.5.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: changelog-generator
